@use 'sass:map';
@use '@angular/material' as mat;

$palette: mat.define-palette(mat.$indigo-palette);

.subscription-form {
  display: flex;
  flex-direction: column;
}

.mat-dialog-title {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
  }
}

h3 {
  color: mat.get-color-from-palette($palette, 400);
  font-weight: bold;
}

.mat-form-field {
  margin-bottom: 0.3rem;
}

.form-button {
  text-align: center;
  margin-bottom: 1.6rem;
}
