<div mat-dialog-title>
  <h1>{{association.name}}</h1>
  <button mat-icon-button aria-label="Fermer" [mat-dialog-close]="null">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div class="association-image">
    <img [src]="association.logo">
  </div>
  <h2>{{association.category}} - {{association.activity}}</h2>

  <h4>Description</h4>
  <p>
    {{association.description}}
  </p>

  <h4>Disponibilités</h4>
  <ul class="available-coupons">
    <li *ngFor="let coupon of association.availableCoupons">
      <!-- Show information for start and end -->
      du {{coupon.startDate | date: 'longDate'}} au {{coupon.endDate | date: 'longDate'}}

      <!-- Show information for duration with given dates -->
      <ng-container *ngIf="coupon.duration; else noDuration">
        , pour une période de {{coupon.duration.quantity}} {{coupon.duration.unit | couponDuration:
        coupon.duration.quantity}}
      </ng-container>

      <ng-template #noDuration>
        <mat-icon class="info" aria-hidden="false"
          aria-label="Vous pouvez participer à l'activité autant de fois que désiré jusqu'à la date de fin."
          fontIcon="help"
          matTooltip="Vous pouvez participer à l'activité autant de fois que désiré jusqu'à la date de fin."
          [matTooltipPosition]="'right'"></mat-icon>
      </ng-template>
    </li>
  </ul>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent" [mat-dialog-close]="association.uuid" cdkFocusInitial>Choisir cette
    activité</button>
</div>
