@use 'sass:map';
@use '@angular/material' as mat;
@use 'abstracts/mixins' as *;

$palette: mat.define-palette(mat.$indigo-palette);

h1 {
  text-align: center;
}

.associations {
  display: flex;
  flex-flow: row wrap;
}

.association-item {
  display: flex;
  flex-direction: column;
  height: 11rem;
  margin: 0 1rem 1rem;
  width: 100%;

  @include responsive(small) {
    width: calc(50% - 4rem);
  }

  @include responsive(medium) {
    margin: 0 2rem 1rem;
    width: calc(33% - 6rem);
  }

  @include responsive(xlarge) {
    width: calc(25% - 6rem);
  }

  &:hover {
    background-color: mat.get-color-from-palette($palette, 200);
    color: #fff;
    cursor: pointer;

    mat-card-subtitle {
      color: #fff;
    }
  }

  mat-card-content {
    overflow: hidden;
  }

  mat-card-actions {
    text-align: center;
  }
}
